/**
 * Harry Jacka admin.css 0.1 (created 25/7/18)
 *
 * css rules for the admin pages
 */

.center
{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.login
{
    margin-top: 3cm;
    width: 9.3cm;
}

.title
{
    font-size: 1.1cm;
}

.error
{
    color: #ff0000;
}
