/**
 * Alice Jacka default.css 1.0 (created 16/7/18)
 *
 * css rules for the default page
 */

.header
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1cm;
}

.avatar
{
    width: 3cm;
    height: 3cm;
    padding: 0cm 0.2cm;
}


.main
{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: 1cm;
}

.action
{
    width: 10cm;
    height: 10cm;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.action-lable
{
    margin: 0;
    margin-right: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2cm;
    width: 8cm;
    color: white;
    text-align: center;
}

.small
{
    font-size: 0.4em;
}

.error
{
    font-size: 1cm;
}


.footer
{
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.footerButton
{
    color: white;
    text-decoration: none;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 0.9cm;
    padding: 12px;
    border-radius: 7px;
}
